.demo-container {
	border: 2px solid rgb(64, 132, 145);
	border-radius: 0 0 20px 20px;
	padding: 20px;
	background-color: white;
	color: black;
	margin: 0 10px 16px 10px;
	position: relative;

	&::before {
		content: 'live demo';
		border: 2px solid rgb(64, 132, 145);
		border-radius: 0 0 4px 4px;
		display: block;
		position: absolute;
		margin-top: -35px;
		background-color: black;
		padding: 0 10px;
		right: 30px;
		color: white;
	}

	button {
		cursor: pointer;
	}

	a {
		padding: 0 6px;
		margin: 2px 4px;
		border: 1px solid gray;
		color: white;
		cursor: pointer;
		background-color: rgb(59, 67, 139);
	}

	:global(.box) {
		display: flex;
		flex-wrap: wrap;
		border: 1px solid gray;
		padding: 10px;
	}
}
